#1: Load a CSV file using Pandas and print the first 5 rows.

In [ ]:
import pandas as pd
df = pd.read_csv("dummy_churn_data.csv")
df.head()

   total_day_charge  total_eve_charge  churn
0             31.24             22.24      0
1             48.52             12.79      1
2             41.96             15.84      0
3             37.96             17.33      1
4             24.68             19.12      0

#2: Check missing values in churn and drop if any

In [ ]:
import pandas as pd
df = pd.read_csv("dummy_churn_data.csv")

#Check for Missing Values
print(df["churn"].isnull().sum())

#Dropping Missing values
df.dropna(subset=["churn"],inplace=True)

0
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: churn, dtype: bool

#3: Remove Duplicates

In [ ]:
data = {'Name':['Alice','Bob','Alice','Charlie'],'Age':[25,30,25,35]}
df = pd.DataFrame(data)
print(f"Original DataFrame \n\n {df.head()}\n")


df_cleaned = df.drop_duplicates()
print(f"Removed Duplicates \n\n {df_cleaned.head()}")

Original DataFrame

       Name  Age
0    Alice   25
1      Bob   30
2    Alice   25
3  Charlie   35

Removed Duplicates

       Name  Age
0    Alice   25
1      Bob   30
3  Charlie   35

#4: Handle Missing Values

In [ ]:
data = {'Name':['Alice','Bob',None,'Charlie'],'Age':[25,None,25,35]}

df = pd.DataFrame(data)
print("Original Data\n")
display(df)

print(f"\nCleaned Data\n")
cleaned_df = df.fillna({'Name':'Rajesh','Age':df['Age'].mean()})
display(cleaned_df)

Original Data

      Name   Age
0    Alice  25.0
1      Bob   NaN
2     None  25.0
3  Charlie  35.0

Cleaned Data

      Name        Age
0    Alice  25.000000
1      Bob  28.333333
2   Rajesh  25.000000
3  Charlie  35.000000

#5: Correcting DataTypes

In [ ]:
data = {'Date':['2023-01-01','2023-02-01','2023-03-01'],'Age':[25,25,35]}
df = pd.DataFrame(data)
print(f"Original Data\n\n{df.head()}\n\n{df.dtypes}")

df["Date"] = pd.to_datetime(df["Date"])
print(f"\n\nCorrected Data\n\n{df.head()}\n\n{df.dtypes}")

Original Data

         Date  Age
0  2023-01-01   25
1  2023-02-01   25
2  2023-03-01   35

Date    object
Age      int64
dtype: object


Corrected Data

        Date  Age
0 2023-01-01   25
1 2023-02-01   25
2 2023-03-01   35

Date    datetime64[ns]
Age              int64
dtype: object

#6: Standardize Text cases

In [ ]:
import pandas as pd
data = {'Name':['Alice','BOB','ToM','Charlie'],'Age':[25,30,25,35]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df["Name"] = df["Name"].str.title()
print(df)

      Name  Age
0    Alice   25
1      BOB   30
2      ToM   25
3  Charlie   35


      Name  Age
0    Alice   25
1      Bob   30
2      Tom   25
3  Charlie   35

#7: Filter Outliers

In [ ]:
data = {'Values':[2,4,12,6,8,250,10]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

q1 = df["Values"].quantile(0.25)
q3 = df["Values"].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr

new_df = df[(df["Values"] >= lower_bound) & (df["Values"] <= upper_bound)]
print(new_df)

   Values
0       2
1       4
2      12
3       6
4       8
5     250
6      10


   Values
0       2
1       4
2      12
3       6
4       8
6      10

#8. Normalize data using Min-Max Normalization

In [ ]:
data = {'Feature1':[100,200,300,500],'Feature2':[0.5,0.2,0.3,0.9]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df_normalized = ((df-df.min())/(df.max()-df.min()))
print(df_normalized)

   Feature1  Feature2
0       100       0.5
1       200       0.2
2       300       0.3
3       500       0.9


   Feature1  Feature2
0      0.00  0.428571
1      0.25  0.000000
2      0.50  0.142857
3      1.00  1.000000

#9. Removing Irrelevant Data

In [ ]:
data = {'Name':['Alice','Bob','Tom','Charlie'],'Age':[25,30,25,35],'Unnecessary':[1,2,3,4]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df_cleaned = df.drop(columns=["Unnecessary"])
print(df_cleaned)

      Name  Age  Unnecessary
0    Alice   25            1
1      Bob   30            2
2      Tom   25            3
3  Charlie   35            4


      Name  Age
0    Alice   25
1      Bob   30
2      Tom   25
3  Charlie   35

#10: Validate Data Integrity

In [ ]:
data = {'Name':['Alice','Bob','Tom','Charly'],'Age':[25,30,25,35]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

valid_names = ['Alice','Bob','Tom','Charlie']
df_cleaned = df[df["Name"].isin(valid_names)]
print(df_cleaned)

     Name  Age
0   Alice   25
1     Bob   30
2     Tom   25
3  Charly   35


    Name  Age
0  Alice   25
1    Bob   30
2    Tom   25

#11: Document Cleaning full Process upto Now

In [ ]:
import pandas as pd
import numpy as np
data = {'Name':['Alice','BOB','Charlie','Alice'],'Age':[25,30,np.nan,25],'Salary':[50000,60000,70000,50000]}
df = pd.DataFrame(data)
copy_df = df.copy()
print(f"Original Dataframe: \n\n{df}\n\n")

cleaned_process = []

#Remove Duplicates
copy_df = df.drop_duplicates()
cleaned_process.append("Removed Duplicates")

#Fill missing values
copy_df.loc[:,'Age'] = copy_df['Age'].fillna(copy_df['Age'].mean())
cleaned_process.append("Fill Missing Values with mean")

#Standardize text data
copy_df.loc[:,"Name"] = copy_df["Name"].str.upper()
cleaned_process.append("Standardize the text data")


#Remove Irrelevant columns
copy_df = copy_df.drop(columns=["Salary"])
cleaned_process.append("Remove Irrelevant data")

#Correct Data type make sure Age column is integer
copy_df.loc[:,'Age'] = copy_df['Age'].astype(int)
cleaned_process.append("Correcting the data type")


#Filter outliers in age remove age less than 0 and greater than 100
copy_df = copy_df[(copy_df['Age'] > 0 )& (copy_df['Age'] < 100)]
cleaned_process.append("handling outliers")


#Validate data Integrity
if copy_df.isnull().sum().sum() == 0:
  cleaned_process.append("Data Integrity done: No missing values")
else:
  cleaned_process.append("Data Integrity failed missing values detected")



#Reset indexing after cleaning
copy_df = copy_df.reset_index(drop=True)
cleaned_process.append("Reset dataframe index")

print(f"{copy_df}\n\n")
print(f"Cleaned Process:\n")
for index,value in enumerate(cleaned_process):
  print(f"Step{index+1}: {value}")

Original Dataframe:

      Name   Age  Salary
0    Alice  25.0   50000
1      BOB  30.0   60000
2  Charlie   NaN   70000
3    Alice  25.0   50000


      Name   Age
0    ALICE  25.0
1      BOB  30.0
2  CHARLIE  27.0


Cleaned Process:

Step1: Removed Duplicates
Step2: Fill Missing Values with mean
Step3: Standardize the text data
Step4: Remove Irrelevant data
Step5: Correcting the data type
Step6: handling outliers
Step7: Data Integrity done: No missing values
Step8: Reset dataframe index

#12. Remove Extra Spaces

In [ ]:
import pandas as pd
data = {'Name':['  Alice','Bob  ','Charlie ']}
df = pd.DataFrame(data)
print(f'{df}\n\n')

df['Name'] = df['Name'].str.strip()
print(df)

       Name
0     Alice
1     Bob
2  Charlie


      Name
0    Alice
1      Bob
2  Charlie

#13. Handle Inconsistent categorical data

In [ ]:
data = {'Gender':['Male','M','Female','F','male','F']}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df['Gender'] = df['Gender'].replace({'M':'Male','F':'Female','male':'Male'})
print(df)

   Gender
0    Male
1       M
2  Female
3       F
4    male
5       F


   Gender
0    Male
1    Male
2  Female
3  Female
4    Male
5  Female

#14. Split Columns

In [ ]:
data = {'Full Name':['Alice Smith','Mathew chris','Bob Johnson','chris brown','Norman Yadev']}

df = pd.DataFrame(data)
print(f"{df}\n\n")

df[['First Name','Last Name']] = df['Full Name'].str.split(" ",expand = True)
print(df)

      Full Name
0   Alice Smith
1  Mathew chris
2   Bob Johnson
3   chris brown
4  Norman Yadev


      Full Name First Name Last Name
0   Alice Smith      Alice     Smith
1  Mathew chris     Mathew     chris
2   Bob Johnson        Bob   Johnson
3   chris brown      chris     brown
4  Norman Yadev     Norman     Yadev

#15. Merge Columns

In [ ]:
data = {'Year':[2023,2024],'Month':[1,2],'Day':[2,12]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df['Date'] = pd.to_datetime(df[['Year','Month','Day']])
print(df)

   Year  Month  Day
0  2023      1    2
1  2024      2   12


   Year  Month  Day       Date
0  2023      1    2 2023-01-02
1  2024      2   12 2024-02-12

#16. Convert text to lowercase

In [ ]:
data = {'Text':['HeLLo','WORLD']}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df['Text'] = df['Text'].str.lower()
print(df)

    Text
0  HeLLo
1  WORLD


    Text
0  hello
1  world

#17. Remove unwanted Rows

In [ ]:
import pandas as pd
data = {'Name':['Alice','Bob','Tom','Charly'],'Age':[25,30,-25,35]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df = df[df['Age']>0]
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2     Tom  -25
3  Charly   35


     Name  Age
0   Alice   25
1     Bob   30
3  Charly   35

#18. One Hot Encodding

In [ ]:
data = {'Color':['Blue','Red','Green','Pink']}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df_encoded = pd.get_dummies(df,columns=['Color'])
print(df_encoded)

   Color
0   Blue
1    Red
2  Green
3   Pink


   Color_Blue  Color_Green  Color_Pink  Color_Red
0        True        False       False      False
1       False        False       False       True
2       False         True       False      False
3       False        False        True      False

#19. Aggregate Data

In [ ]:
data = {'Region':['North','South','North','South'],'Sales':[100,200,150,250]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df_aggregated = df.groupby('Region')['Sales'].mean().reset_index()
print(df_aggregated)

  Region  Sales
0  North    100
1  South    200
2  North    150
3  South    250


  Region  Sales
0  North  125.0
1  South  225.0

#20. Convert all values to Integer

In [ ]:
import numpy as np
data = {'Values':[10,'South',30,40]}
df= pd.DataFrame(data)
print(f"{df}\n\n")

df['Values'] = pd.to_numeric(df['Values'],errors = "coerce")
df['Values'] = df['Values'].fillna(df['Values'].mean())
print(df)

  Values
0     10
1  South
2     30
3     40


      Values
0  10.000000
1  26.666667
2  30.000000
3  40.000000

#21. UnPivot to Long Format

In [ ]:
import pandas as pd
data = {'Year':[2022,2023],'Sales_Q1':[100,150],'Sales_Q2':[200,250]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

df_long = df.melt(id_vars=['Year'],
var_name = 'Quarter', value_name = 'Sales')
print(df_long)

   Year  Sales_Q1  Sales_Q2
0  2022       100       200
1  2023       150       250


   Year   Quarter  Sales
0  2022  Sales_Q1    100
1  2023  Sales_Q1    150
2  2022  Sales_Q2    200
3  2023  Sales_Q2    250

#22. Check for Data skewness

In [ ]:

import numpy as np
data = {'Values':[1,2,3,1000,4,5]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

skewness = df['Values'].skew()
print(f"skewness: {skewness}\n\n")

#Apply log transformation to reduce skewness
df['Values'] = df['Values'].apply(lambda x:np.log(x) if x > 0 else 0)
print(df)

   Values
0       1
1       2
2       3
3    1000
4       4
5       5


skewness: 2.4494232090208956


     Values
0  0.000000
1  0.693147
2  1.098612
3  6.907755
4  1.386294
5  1.609438
skewness: 2.158007230292498

#23. Handle Imbalanced data

In [ ]:
import pandas as pd

data = {'Class':['A','A','A','B','B','A','A','A','A','A']}
df = pd.DataFrame(data)
print(f"{df}\n\n")
print(df['Class'].value_counts())

from sklearn.utils import resample
df_majority = df[df['Class'] == 'A']
df_minority = df[df['Class'] == 'B']

df_minority_upsampled = resample(df_minority,replace=True,
n_samples = len(df_majority),random_state = 42)
df_balanced = pd.concat([df_majority,df_minority_upsampled])
print(df_balanced['Class'].value_counts())

  Class
0     A
1     A
2     A
3     B
4     B
5     A
6     A
7     A
8     A
9     A


Class
A    8
B    2
Name: count, dtype: int64
Class
A    8
B    8
Name: count, dtype: int64

#24. Detetct and remove Multicollinearity

In [5]:
import pandas as pd
data = {'Feature1':[1,2,3,4],'Feature2':[2,4,6,8],'Feature3':[3,6,9,12]}
df = pd.DataFrame(data)
print(f"{df}\n\n")

corr_matrix = df.corr()
print("Correlation Matrix:\n", df.corr(), "\n")
import numpy as np

upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(bool))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.95)]
df_cleaned = df.drop(columns=to_drop)
print(f"{df_cleaned}")

   Feature1  Feature2  Feature3
0         1         2         3
1         2         4         6
2         3         6         9
3         4         8        12


Correlation Matrix:
           Feature1  Feature2  Feature3
Feature1       1.0       1.0       1.0
Feature2       1.0       1.0       1.0
Feature3       1.0       1.0       1.0

   Feature1
0         1
1         2
2         3
3         4