#1: Reverse a string

In [ ]:
text = input("Enter a word: ")
print("".join(reversed(text)))

print(text[::-1])

for i in range(len(text)-1,-1,-1):
  print(text[i],end="")

print()
reversed_text = ""
for char in text:
  reversed_text = char +reversed_text
print(reversed_text)

Enter a word: hello
olleh
olleh
olleh
olleh

#2: Check if a string is a palindrome.

In [ ]:
text = input("Enter a text: ")
text = text.lower()
if text[::-1] == text[::1]:
  print("It is a palindrome")
else:
  print("Not a palindrome")

Enter a text: heH
It is a palindrome

#3: Check if a number is a Palindrome

In [ ]:
num = int(input("Enter a number: "))
if str(num) == str(num)[::-1]:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

Enter a number: 22
It is a palindrome

#4: Check if a number is a Palindrome without converting to string

In [ ]:
num = int(input("Enter a number: "))
temp = num
reversed_num = 0
while temp > 0:
  end = temp % 10
  reversed_num = reversed_num * 10 +end
  temp = temp //10

if num == reversed_num:
  print("Palindrome")
else:
  print("Not a plaindrome")

Enter a number: 1441
Palindrome

#5: Count the frequency of each word in a sentence.

In [ ]:
sentence = input("Enter a sentence: ")

word_count = {}
sentence = sentence.split(" ")
for word in sentence:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

for word,count in word_count.items():
  print(f"{word}:{count}")

Enter a sentence: hello im yadev hello
hello:2
im:1
yadev:1

#6: FInd the largest and second largest number in a list

In [ ]:
my_list = [1,2,5,4,3,7,2,9,1]
largest = max(my_list)
print(f"Largest number in the list: {largest}")
my_list.remove(largest)
second_largest = max(my_list)
print(f"Second Largest number in the list: {second_largest}")

Largest number in the list: 9
Second Largest number in the list: 7

##7: Sorting to find the above question

In [ ]:
my_list = [1,2,5,4,3,7,2,9,1]
sorted_list = sorted(my_list,reverse=True)
largest_num = sorted_list[0]
if len(sorted_list) >= 2:
  second_largest = sorted_list[1]
else:
  print("List has only 1 value")
print(f"Largest num is: {largest_num}\nSecond Largest num is: {second_largest}")

Largest num is: 9
Second Largest num is: 7

##8: Using Loop

In [ ]:
my_list = [1,2,5,4,3,7,2,9,1]
largest = float('-inf')
second_largest = float('-inf')
for num in my_list:
  if num> largest:
    second_largest = largest
    largest = num
  elif num>second_largest and num < largest:
    second_largest = num

print(f"largest: {largest}\nsecond_largest: {second_largest}")

largest: 9
second_largest: 7

#9: Find the factorial of a number.

In [ ]:
number = int(input("Enter a number: "))
total = 1
for num in range(1,number+1):
  total = total*num
print(total)

Enter a number: 5
120

#10: Find the factorial of a number using recursion.

In [ ]:
def recursion(n):
  if n==0 or n==1:
    return 1
  else:
    return n* recursion(n-1)

number= int(input("Enter a number: "))
print(recursion(number))

Enter a number: 5
120

#11: Print Fibonacci sequence up to n terms.

In [ ]:
def fibonacci(n):
  a,b=0,1
  my_list = []
  my_list.append(a)
  my_list.append(b)
  for i in range(n-2):
    temp = a+b
    a=b
    b=temp
    my_list.append(temp)
  return my_list

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#12: Find the largest of three numbers.

In [ ]:
first_num = int(input("Enter first number: "))
second_num = int(input("Enter second number: "))
third_num = int(input("Enter third number: "))

if first_num > second_num and first_num > third_num:
  print(f"Largest number is: {first_num}")
elif second_num > first_num and second_num > third_num:
  print(f"Largest number is: {second_num}")
elif third_num >first_num and third_num > second_num:
  print(f"Largest number is: {third_num}")
else:
  print("All the numbers are equal")

Enter first number: 2
Enter second number: 3
Enter third number: 5
Largest number is: 5

#13: Check if a number is prime.

In [ ]:
number = int(input("Enter a number: "))
is_prime = True
for num in range(2,number):
  if number % num == 0:
    is_prime = False
    break

if is_prime == True:
  print("It is prime")
else:
  print("It is not a prime")

Enter a number: 11
It is prime

#14: Find the sum of digits of a number.

In [ ]:
num = int(input("Enter a number: "))
sum = 0
while num > 0:
  end = num % 10
  sum = sum + end
  num = num // 10
print(f"The total sum of digits is: {sum}")

Enter a number: 14568
The total sum of digits is: 24

#15: Count vowels in a text

In [ ]:
text = input("Enter a word: ")
vowels =['a','e','i','o','u']
text = text.lower()
vowel_count = {}
for char in text:
  if char in vowels:
    if char in vowel_count:
      vowel_count[char] += 1
    else:
      vowel_count[char] = 1
for char,count in vowel_count.items():
  print(f"{char} : {count}")

Enter a word: education
e : 1
u : 1
a : 1
i : 1
o : 1

#16. Find the greatest common divisor (GCD)

In [ ]:
import math

first_num = int(input("Enter a number: "))
second_num = int(input("Enter second num: "))

gcd = math.gcd(first_num,second_num)
print(f"gcd is : {gcd}")

Enter a number: 96
Enter second num: 84
gcd is : 12

#17. Find the least common multiple (LCM)

In [ ]:
import math

first_num = int(input("Enter a number: "))
second_num = int(input("Enter second num: "))

lcm = math.lcm(first_num,second_num)
print(lcm)

Enter a number: 12
Enter second num: 18
36

#18. Convert decimal to binary

In [ ]:
number = int(input("Enter a number: "))
binary_list = []
while number > 0:
  remainder = number % 2
  binary_list.append(remainder)
  number = number // 2
print(binary_list)
reversed_list = binary_list[::-1]
print(reversed_list)

for i in reversed_list:
  print(i,end="")

Enter a number: 13
[1, 0, 1, 1]
[1, 1, 0, 1]
1101

#19. Convert binary to decimal

In [ ]:
binary = int(input("Enter binary number: "))

binary_list = []

while binary > 0:
  end = binary % 10
  binary_list.append(end)
  binary = binary // 10

total = 0
for i,num in enumerate(binary_list):
  total = total + num*(2**(i))

print(total)

Enter binary number: 11001
25

#20. Remove duplicates from a list

In [ ]:
my_list = [1,2,3,4,4,5,6]
#unique_list = list(set(my_list))
#print(unique_list)

unique = []

for num in my_list:
  if num in unique:
    continue
  else:
    unique.append(num)

print(unique)

[1, 2, 3, 4, 5, 6]

#21. Merge two sorted lists.

In [3]:
list1 = [5,6,7,8,2,3]
list2 = [10,2,5,6,1,8]
sorted_list1 = sorted(list1)
sorted_list2 = sorted(list2)
merged_list = sorted_list1 + sorted_list2
merged_list = sorted(merged_list)
print(merged_list)
no_dup = list(set(merged_list))
print(no_dup)

[1, 2, 2, 3, 5, 5, 6, 6, 7, 8, 8, 10]
[1, 2, 3, 5, 6, 7, 8, 10]

#22. Find the intersection of two lists.

In [4]:
list1 = [5,6,7,8,2,3]
list2 = [10,2,5,6,1,13]
intersection = []
for i in list1:
  for j in list2:
    if i == j:
      intersection.append(i)

for i in intersection:
  print(i,end=" ")

5 6 2

#23. Find the union of two lists.

In [12]:
list1 = [5,6,7,8,2,3]
list2 = [10,2,5,6,1,13]
union = sorted(set(list1).union(list2))


print(union)

[1, 2, 3, 5, 6, 7, 8, 10, 13]

#24. Check if a list is sorted.

In [17]:
list1 = [5,6,7,8,2,3]

for i in range(len(list1)-1):
  if list1[i] > list1[i+1]:
    print("List is not sorted")
    break
else:
  print("List is sorted")

if list1 == sorted(list1):
  print("List is sorted")
else:
  print("List is not sorted")

List is not sorted
List is not sorted

#25. Reverse a list without using slicing.

In [23]:
list1 = [5,6,7,8,5,2,3]
reversed_list = []
for i in range(len(list1)-1,-1,-1):
  reversed_list.append(list1[i])
print(reversed_list)

[3, 2, 5, 8, 7, 6, 5]