#1: Reverse a string

In [ ]:
text = input("Enter a word: ")
print("".join(reversed(text)))

print(text[::-1])

for i in range(len(text)-1,-1,-1):
  print(text[i],end="")

print()
reversed_text = ""
for char in text:
  reversed_text = char +reversed_text
print(reversed_text)

Enter a word: hello
olleh
olleh
olleh
olleh

#2: Check if a string is a palindrome.

In [ ]:
text = input("Enter a text: ")
text = text.lower()
if text[::-1] == text[::1]:
  print("It is a palindrome")
else:
  print("Not a palindrome")

Enter a text: heH
It is a palindrome

#3: Check if a number is a Palindrome

In [ ]:
num = int(input("Enter a number: "))
if str(num) == str(num)[::-1]:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

Enter a number: 22
It is a palindrome

#4: Check if a number is a Palindrome without converting to string

In [ ]:
num = int(input("Enter a number: "))
temp = num
reversed_num = 0
while temp > 0:
  end = temp % 10
  reversed_num = reversed_num * 10 +end
  temp = temp //10

if num == reversed_num:
  print("Palindrome")
else:
  print("Not a plaindrome")

Enter a number: 1441
Palindrome

#5: Count the frequency of each word in a sentence.

In [ ]:
sentence = input("Enter a sentence: ")

word_count = {}
sentence = sentence.split(" ")
for word in sentence:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

for word,count in word_count.items():
  print(f"{word}:{count}")

Enter a sentence: hello im yadev hello
hello:2
im:1
yadev:1

#6: FInd the largest and second largest number in a list

In [ ]:
my_list = [1,2,5,4,3,7,2,9,1]
largest = max(my_list)
print(f"Largest number in the list: {largest}")
my_list.remove(largest)
second_largest = max(my_list)
print(f"Second Largest number in the list: {second_largest}")

Largest number in the list: 9
Second Largest number in the list: 7

##7: Sorting to find the above question

In [ ]:
my_list = [1,2,5,4,3,7,2,9,1]
sorted_list = sorted(my_list,reverse=True)
largest_num = sorted_list[0]
if len(sorted_list) >= 2:
  second_largest = sorted_list[1]
else:
  print("List has only 1 value")
print(f"Largest num is: {largest_num}\nSecond Largest num is: {second_largest}")

Largest num is: 9
Second Largest num is: 7

##8: Using Loop

In [ ]:
my_list = [1,2,5,4,3,7,2,9,1]
largest = float('-inf')
second_largest = float('-inf')
for num in my_list:
  if num> largest:
    second_largest = largest
    largest = num
  elif num>second_largest and num < largest:
    second_largest = num

print(f"largest: {largest}\nsecond_largest: {second_largest}")

largest: 9
second_largest: 7

#9: Find the factorial of a number.

In [ ]:
number = int(input("Enter a number: "))
total = 1
for num in range(1,number+1):
  total = total*num
print(total)

Enter a number: 5
120

#10: Find the factorial of a number using recursion.

In [ ]:
def recursion(n):
  if n==0 or n==1:
    return 1
  else:
    return n* recursion(n-1)

number= int(input("Enter a number: "))
print(recursion(number))

Enter a number: 5
120

#11: Print Fibonacci sequence up to n terms.

In [ ]:
def fibonacci(n):
  a,b=0,1
  my_list = []
  my_list.append(a)
  my_list.append(b)
  for i in range(n-2):
    temp = a+b
    a=b
    b=temp
    my_list.append(temp)
  return my_list

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#12: Find the largest of three numbers.

In [ ]:
first_num = int(input("Enter first number: "))
second_num = int(input("Enter second number: "))
third_num = int(input("Enter third number: "))

if first_num > second_num and first_num > third_num:
  print(f"Largest number is: {first_num}")
elif second_num > first_num and second_num > third_num:
  print(f"Largest number is: {second_num}")
elif third_num >first_num and third_num > second_num:
  print(f"Largest number is: {third_num}")
else:
  print("All the numbers are equal")

Enter first number: 2
Enter second number: 3
Enter third number: 5
Largest number is: 5

#13: Check if a number is prime.

In [ ]:
number = int(input("Enter a number: "))
is_prime = True
for num in range(2,number):
  if number % num == 0:
    is_prime = False
    break

if is_prime == True:
  print("It is prime")
else:
  print("It is not a prime")

Enter a number: 11
It is prime

#14: Find the sum of digits of a number.

In [ ]:
num = int(input("Enter a number: "))
sum = 0
while num > 0:
  end = num % 10
  sum = sum + end
  num = num // 10
print(f"The total sum of digits is: {sum}")

Enter a number: 14568
The total sum of digits is: 24

#15: Count vowels in a text

In [ ]:
text = input("Enter a word: ")
vowels =['a','e','i','o','u']
text = text.lower()
vowel_count = {}
for char in text:
  if char in vowels:
    if char in vowel_count:
      vowel_count[char] += 1
    else:
      vowel_count[char] = 1
for char,count in vowel_count.items():
  print(f"{char} : {count}")

Enter a word: education
e : 1
u : 1
a : 1
i : 1
o : 1

#16. Find the greatest common divisor (GCD)

In [ ]:
import math

first_num = int(input("Enter a number: "))
second_num = int(input("Enter second num: "))

gcd = math.gcd(first_num,second_num)
print(f"gcd is : {gcd}")

Enter a number: 96
Enter second num: 84
gcd is : 12

#17. Find the least common multiple (LCM)

In [ ]:
import math

first_num = int(input("Enter a number: "))
second_num = int(input("Enter second num: "))

lcm = math.lcm(first_num,second_num)
print(lcm)

Enter a number: 12
Enter second num: 18
36

#18. Convert decimal to binary

In [ ]:
number = int(input("Enter a number: "))
binary_list = []
while number > 0:
  remainder = number % 2
  binary_list.append(remainder)
  number = number // 2
print(binary_list)
reversed_list = binary_list[::-1]
print(reversed_list)

for i in reversed_list:
  print(i,end="")

Enter a number: 13
[1, 0, 1, 1]
[1, 1, 0, 1]
1101

#19. Convert binary to decimal

In [ ]:
binary = int(input("Enter binary number: "))

binary_list = []

while binary > 0:
  end = binary % 10
  binary_list.append(end)
  binary = binary // 10

total = 0
for i,num in enumerate(binary_list):
  total = total + num*(2**(i))

print(total)

Enter binary number: 11001
25

#20. Remove duplicates from a list

In [ ]:
my_list = [1,2,3,4,4,5,6]
#unique_list = list(set(my_list))
#print(unique_list)

unique = []

for num in my_list:
  if num in unique:
    continue
  else:
    unique.append(num)

print(unique)

[1, 2, 3, 4, 5, 6]

#21. Merge two sorted lists.

In [ ]:
list1 = [5,6,7,8,2,3]
list2 = [10,2,5,6,1,8]
sorted_list1 = sorted(list1)
sorted_list2 = sorted(list2)
merged_list = sorted_list1 + sorted_list2
merged_list = sorted(merged_list)
print(merged_list)
no_dup = list(set(merged_list))
print(no_dup)

[1, 2, 2, 3, 5, 5, 6, 6, 7, 8, 8, 10]
[1, 2, 3, 5, 6, 7, 8, 10]

#22. Find the intersection of two lists.

In [ ]:
list1 = [5,6,7,8,2,3]
list2 = [10,2,5,6,1,13]
intersection = []
for i in list1:
  for j in list2:
    if i == j:
      intersection.append(i)

for i in intersection:
  print(i,end=" ")

5 6 2

#23. Find the union of two lists.

In [ ]:
list1 = [5,6,7,8,2,3]
list2 = [10,2,5,6,1,13]
union = sorted(set(list1).union(list2))


print(union)

[1, 2, 3, 5, 6, 7, 8, 10, 13]

#24. Check if a list is sorted.

In [ ]:
list1 = [5,6,7,8,2,3]

for i in range(len(list1)-1):
  if list1[i] > list1[i+1]:
    print("List is not sorted")
    break
else:
  print("List is sorted")

if list1 == sorted(list1):
  print("List is sorted")
else:
  print("List is not sorted")

List is not sorted
List is not sorted

#25. Reverse a list without using slicing.

In [ ]:
list1 = [5,6,7,8,5,2,3]
reversed_list = []
for i in range(len(list1)-1,-1,-1):
  reversed_list.append(list1[i])
print(reversed_list)

[3, 2, 5, 8, 7, 6, 5]

#26. Find the maximum product of two integers in a list.

In [ ]:
list1 = [5,6,7,8,5,2,3]
#sorted_list = sorted(list1,reverse = True)
#print(sorted_list[0]*sorted_list[1])

largest = float('-inf')
second_largest = float('-inf')

for num in list1:
  if num > largest:
    second_largest = largest
    largest = num
  elif num > second_largest and num < largest:
    second_largest = num
print(largest*second_largest)

56

#27. Move all zeros to the end of a list.

In [ ]:
list1 = [0,5,6,0,7,8,5,0,2,3]
#sorted_list = sorted(list1,reverse=True)
#print(sorted_list)

count = 0
final_list = []
for num in list1:
  if num ==0:
    count +=1
  else:
    final_list.append(num)
print(count)
print(final_list)
final_list.extend([0]*3)
print(final_list)

3
[5, 6, 7, 8, 5, 2, 3]
[5, 6, 7, 8, 5, 2, 3, 0, 0, 0]

#28. Check if two strings are anagrams.

In [ ]:
text1 = input("Enter a text: ")
text2 = input("Enter another text: ")
#if sorted(text1) == sorted(text2):
  #print("ANagrams")
#else:
  #print("Not anagram")

count_text1 = {}
count_text2 = {}
if len(text1) != len(text2):
  print("not an anagram")
else:
  for char in text1:
    if char in count_text1:
      count_text1[char] += 1
    else:
      count_text1[char] = 1

  for char in text2:
    if char in count_text2:
      count_text2[char] += 1
    else:
      count_text2[char] = 1

if count_text2 == count_text1:
  print("Anagram")
else:
  print("Not an anagram")

Enter a text: abc
Enter another text: abb
Not an anagram

#29. Find duplicates in an array.

In [ ]:
arr = [1, 2, 3, 4, 2, 5, 6, 1, 7]
seen = set()
duplicates = set()

for num in arr:
  if num in seen:
    duplicates.add(num)
  else:
    seen.add(num)
print(seen)
print(duplicates)

{1, 2, 3, 4, 5, 6, 7}
{1, 2}

#30. Check if a string is a pangram.

In [ ]:
sentence = input("Enter a sentence: ")
alphabet = "abcdefghijklmnopqrstuvwxyz"
for char in alphabet:
  if char not in sentence:
    print("Not pangram")
    break
else:
  print("Pangram")

Enter a sentence: The quick brown fox jumps over the lazy dog
Pangram

#31. Implement a stack using lists.

In [ ]:
class Stack():

  def __init__(self):
    self.stack = []

  def is_empty(self):
    return len(self.stack) == 0

  def size(self):
    return len(self.stack)

  def push(self,item):
    self.stack.append(item)
    print(f"Added {item} to the stack")

  def pop(self):
    if self.is_empty():
      print("No elements in the stack to remove")
      return None
    else:
      return self.stack.pop()

  def peek(self):
    if self.is_empty():
      print("No elements to view")
      return None
    else:
      return self.stack[-1]

  def display_stack(self):
    print("Stack:",self.stack)

stack = Stack()
stack.push(10)
stack.push(20)
stack.push(30)
stack.display_stack()

print(f"\nRemoved Element: {stack.pop()}")
print(f"Last Element: {stack.peek()}")
print(stack.size())
stack.display_stack()

Added 10 to the stack
Added 20 to the stack
Added 30 to the stack
Stack: [10, 20, 30]

Removed Element: 30
Last Element: 20
2
Stack: [10, 20]

#32.  Implement a stack using Linked List

In [ ]:
class Node():
  def __init__(self,data):
    self.data = data
    self.next = None

class Stack():
  def __init__(self):
    self.top = None

  def is_empty(self):
    return self.top is None


  def push(self,data):
    new_node = Node(data)
    new_node.next = self.top
    self.top = new_node
    print(f"Pushed {data}")

  def pop(self):
    if self.is_empty():
      print("stack is empty")
      return None
    else:
      popped = self.top.data
      self.top = self.top.next
      print(f"Popped {popped}")
      return popped


  def peek(self):
    if self.is_empty():
      print("stack is empty")
      return None
    else:
      peek = self.top.data
      print(f"The top value is: {peek}")


  def display(self):
    current = self.top
    while current:
      print(current.data,"->",end=" ")
      current = current.next
    print("none")


stack = Stack()
stack.push(10)
stack.push(20)
stack.push(30)
stack.display()

stack.peek()
stack.pop()
stack.display()

Pushed 10
Pushed 20
Pushed 30
30 -> 20 -> 10 -> none
The top value is: 30
Popped 30
20 -> 10 -> none

#33. Implement queue using array

In [ ]:
class Queue():
  def __init__(self,capacity):
    self.queue = [None] * capacity
    self.front = 0
    self.rear = -1
    self.capacity = capacity

  def is_empty(self):
    return self.front > self.rear

  def is_full(self):
    return self.rear == self.capacity - 1

  def enqueue(self,item):
    if self.is_full():
      print("Queue is full")
      return
    self.rear += 1
    self.queue[self.rear] = item
    print(f"Added {item} in the queue")

  def dequeue(self):
    if self.is_empty():
      print("queue is empty")
      return None
    item = self.queue[self.front]
    self.queue[self.front] == None
    self.front += 1
    print(f"Removed {item}")

  def peek(self):
    if self.is_empty():
      print("Queue is empty")
      return
    return self.queue[self.front]


  def display(self):

    if self.is_empty():
      print("queue is empty")
    else:
      print("Queue elements: ",self.queue[self.front:self.rear+1])


q = Queue(5)
q.enqueue(10)
q.enqueue(20)
q.enqueue(30)
q.display()         # Output: Queue elements: [10, 20, 30]

q.dequeue()         # Output: Dequeued: 10
q.display()         # Output: Queue elements: [20, 30]

print("Front:", q.peek())

Added 10 in the queue
Added 20 in the queue
Added 30 in the queue
Queue elements:  [10, 20, 30]
Removed 10
Queue elements:  [20, 30]
Front: 20

#34. TwoSum problem from leetcode

In [ ]:
class Solution:
    def twoSum(self,nums:list[int],target:int) -> list[int]:
        num_dict = {}
        for i,num in enumerate(nums):
            remainder = target - num
            if remainder in num_dict:
                return [num_dict[remainder],i]
            num_dict[num] = i

solution = Solution()
nums = [2,7,11,15]
target = 9

print(solution.twoSum(nums,target))

[0, 1]

#35. Right-Angled Triangle of Stars

In [ ]:
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

#36. Left-Angled Triangle of Stars

In [ ]:
for i in range(1,6):
  print(" "*(6-i) + "*"*i)

     *
    **
   ***
  ****
 *****

#37. How would you remove duplicates from a list while preserving the order?

In [3]:
def remove_duplicate(my_list):
  new_list = []
  for num in my_list:
    if num in new_list:
      continue
    else:
      new_list.append(num)
  print(new_list)

my_list = [1, 2, 2, 3, 1, 4, 2]
remove_duplicate(my_list)

[1, 2, 3, 4]

#38. How would you remove duplicates from a list while preserving the order? (make time complexity lower)

In [5]:
def remove_duplicate(my_list):
  my_set = set()
  new_list = []

  for num in my_list:
    if num not in my_set:
      new_list.append(num)
      my_set.add(num)

  return new_list

my_list = [1, 2, 2, 3, 1, 4, 2]
print(remove_duplicate(my_list))

[1, 2, 3, 4]